<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures Home</title>
</head>
<body>
    <h1>Welcome to the Pictures Module</h1>
    
    <div>
        <a href="{% url 'stellarium_sky' %}"><button>Stellarium</button></a>
        <a href="{% url 'planets_list' %}"><button>Planets</button></a>
        <a href="{% url 'telescopes_list' %}"><button>Telescopes</button></a>
        <a href="{% url 'asteroid_list' %}"><button>Asteroids</button></a>
        <a href="{% url 'constellations' %}"><button>Constellations</button></a>
        <a href="#"><button>Other</button></a>
    </div>
</body>
</html>
